<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" closeTimeout="02:00:00"
                    openTimeout="02:00:00" receiveTimeout="02:00:00" sendTimeout="02:00:00"
                    maxReceivedMessageSize="65536000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/DataAccess/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="Service.IService"
                name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>