<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" maxBufferSize="67108864"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="67108864"
                    useDefaultWebProxy="true">
                    <security>
                        <transport realm="" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://1.9.13.61/DataAccess/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="eAdDataAccess.IService"
                name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>

  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
